<html>
  <head>
    <title>Crear empleado</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </head>
  <body>

  	<script type="text/javascript">

	function yesnoCheck() {
	    if (document.getElementById('comision').checked) {
	       document.getElementById('inputComision').style.display = 'block';
	        document.getElementById('textComision').value = " ";
	    }
	    else document.getElementById('inputComision').style.display = 'none';
	    document.getElementById('textComision').value = "0";

	}

</script>

    <div class='container'>
    	<h1>Nuevo empleado</h1>
        <hr class="intro-divider">
         <form  class="col-md-4 col-md-offset-4" method="post" action="/showAllEmployees"> 									
						<div class="form-group">
					      <label class="control-label col-sm-2">CI:</label>
					      <div class="col-sm-15">
					        <input  maxlength="9"  type="text" class="form-control" name="id" required>
					      </div>
					    </div>
					    
					    
					    <div class="form-group">
					      <label class="control-label col-sm-2">Nombre:</label>
					      <div class="col-sm-15">
					        <input  maxlength="25"  type="text" class="form-control" name="name" required>
					      </div>
					    </div>
					    			    
					    
					    <div class="form-group">
					      <label class="control-label col-sm-2">Direccion:</label>
					      <div class="col-sm-15">
					        <input  maxlength="30"  type="text" class="form-control" name="address">
					      </div>
					    </div>
						
						<div class="form-group">
					      <label class="control-label col-sm-2">Salario:</label>
					      <div class="col-sm-15">
					        <input  maxlength="6"  type="text" class="form-control" name="salary" required>
					      </div>
					    </div>
					    <div class="form-group">
					      <label>Tipo de empleado:</label>
					      <div class="col-sm-15">					 
						    <input type="radio" onclick="javascript:yesnoCheck();" name="employeeType" id="salario" value=1 checked> Salariado<br>
	  						<input type="radio" onclick="javascript:yesnoCheck();" name="employeeType" id="hora" value=2> Por hora<br>
	  						<input type="radio" onclick="javascript:yesnoCheck();" name="employeeType" id="comision" value=3> Con Comision<br> 
						   </div>
					    </div>
					    <div class="form-group" id ="inputComision" style="display:none">
					      <label class="control-label col-sm-2">Comision:</label>
					      <div class="col-sm-15">
					        <input  maxlength="6"  type="text" class="form-control" id ="textComision" name="comision" value = "0">
					      </div>
					    </div>

						<a href="/showAllEmployees" type="button" class="btn btn-danger col-sm-6">Cancelar</a>
						<input type="submit" class="btn btn-success col-sm-6" value="Registrar">
			</form>
     </div>
  </body>
</html>